<div>
<button (click)="isAvailable = !isAvailable">
  Toggle condition
</button>
</div>
<div> <textHighlightInRed color="blue">This text background should be in red </textHighlightInRed></div>

<div textHighlightByAttributeInRed color="green">
  This text background should be in red by attribute
</div>


<div [ngStyle] = "{'background-color': 'yellow'}" > Text in yellow by built in directive </div>

<div rendererHighlight styleType="color" color="red">
  This text background should be in red by rendererHighlight
</div>

<app-built-in-directive></app-built-in-directive>

<div *ngIf="isAvailable"> Show this div when isAvailable is {{isAvailable}} when only div </div>


<ng-template [ngIf]="!isAvailable">
  <div> Show this div when isAvailable is {{isAvailable}} with ng-template</div>
</ng-template>


<div [hidden]="!isAvailable">
  Welcome back, friend {{isAvailable}}
</div>

<div hostBindingDirective [defaultColor]="'red'" [highlightColor]="'green'" [clickColor]="'blue'">
  This text background should be in red by hostBindingDirective
</div>


<div *customStructuralDirective="isAvailable" >
  This text background should be in red by
</div>

<ng-template [customStructuralDirective]="isAvailable">
  <div> Show this div when isAvailable is {{isAvailable}} with customStructuralDirective</div>
</ng-template>
<br>
<br>
<div [ngSwitch]="value">
  <div *ngSwitchCase="10">Value is {{value}}</div>
  <div *ngSwitchCase="20">Value is {{value}}</div>
  <div *ngSwitchCase="30">Value is {{value}}</div>
  <div *ngSwitchDefault>Default case Value is {{value}} more than 30</div>
  <br>
  <button (click)="value = value + 10">
    Plus 10
  </button>
    <button (click)="value = value - 10">
      Minus 10
    </button>
</div>

<br>
<child-component childComponentName="Parent sent Masum"></child-component>

<h2>Now child will send data to parent</h2>
<child-component (parentFunction)="parentFunction($event)"></child-component>
<div> This name came from the children <h3>{{nameFromChild}}</h3>
</div>

<app-employee-details></app-employee-details>

<br><br><br>
<app-employee-list></app-employee-list>
<br><br><br>

<div>
  <h2>Pipe Demo here</h2>
  {{pipeSentence | uppercase }}
  <br> <br>
  {{pipeToday | date:'yyyy-MMM-dd'}}
  <ul>
    <li *ngFor="let user of pipeUsers | sortList:'name'">
      {{user.name}} - {{user.age}}
    </li>
  </ul>
  <button (click)="onClickAdd()">Add</button>
</div>

<router-outlet></router-outlet>
